body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(images/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
    color: black;
}

#banner {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 20px;
    background-color: #5383BD;
    /*3C6DA8*/
    display: flex;
    align-items: center;
    padding: 10px;

    #banner-text {
        display: flex;
        flex-direction: row;
        margin-left: 50px;
        font-size: 18px;
        font-weight: bold;

    }

    #banner-extra {
        display: flex;
        flex-direction: row;
        margin-left: 70%;
        font-size: 18px;
        font-weight: bold;
    }
}

#profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 900px;
    margin-top: 80px;
    border-radius: 20px;

    #profile-img {
        min-width: 320px;
        height: auto;
        border-radius: 18px;
        margin-right: 20px;
    }
    #profile-text {
        color: black;
        font-size: 20px;
        line-height: 1.4;
        text-align: justify;
    }
}

.socials {
    width: 780px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    margin-top: 100px;
    font-size: 18px;
    font-weight: bold;

}

#project {
    width: 43%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 100px;

    #projectA {

        grid-area: projectA;
        height: 300px;
        display: flex;
        flex-direction: row;
        justify-content: left;
        text-align: justify;
    }

    #projectB {

        grid-area: projectB;
        height: 300px;
        display: flex;
        flex-direction: row;
        justify-content: left;
        text-align: justify;
    }

    #projectC {

        grid-area: projectC;
        height: 300px;
        display: flex;
        flex-direction: row;
        justify-content: left;
        text-align: justify;

    }
}

.sub-box {
    display: flex;
    flex-direction: row;
    padding: 20px;
    flex: 1 1 100px;

    background-color: #B2D5ff;
    border-radius: 20px;
}

@media (max-width: 1081px) {
    .sub-box {
        flex-direction: row;
        text-align: center;
        #profile-img {
            min-width: 320px;
        }

    }

    #profile-text {
        color: black;
        font-size: 20px;
        line-height: 1.4;
        text-align: justify;
    }

    #banner {
        z-index: 10;
        width: 100%;
        #banner-text {
            font-size: 18px;
            font-weight: bold;
        }
        #banner-extra {
            display: flex;
            flex-direction: row;
            margin-left: 50%;
            font-size: 18px;
            font-weight: bold;
        }
    }
}
